@import 'vars'
*
    margin: 0
    padding: 0
    box-sizing: border-box
img
    max-width: 100%
    display: block
html
    font-size: 16px
body
    width: 100%
    min-height: 100vh
    font-family: sans-serif
    font-size: 1rem
    display: flex
    flex-direction: column
    overflow-x: hidden
    &.home
        background-image: url(../images/home/background-home-mobile.jpg)
.main
    flex: auto
.container
    margin: 0 auto
    padding: 0 24px
    width: 100%